div#header
div#main 
	div.room(id= "room" + tractorGame.get("id"))
		!=partial("_seat.jade", {tractorGame: tractorGame, seat: tractorGame.seats.getSeat('N'), seatClz: 'north'})
		!=partial("_seat.jade", {tractorGame: tractorGame, seat: tractorGame.seats.getSeat('W'), seatClz: 'west'})
		div.playarea
			div.nodefenders
				span= '台上:'
				span= '当前没有人在台上'   
			div.attackers
				span= '得分:'
				span= '0'   
			div.currentStatus
				span.description= '' 
				-var canStart =  tractorGame.canStart() ? '' : 'hidden'				
				form(class=canStart, action='/tractor/' + tractorGame.get("id")+"/start", method="POST")
					input(value='点击开始游戏', type='submit')

		!=partial("_seat.jade", {tractorGame: tractorGame, seat: tractorGame.seats.getSeat('E'), seatClz: 'east'})
		!=partial("_seat.jade", {tractorGame: tractorGame, seat: tractorGame.seats.getSeat('S'), seatClz: 'south cf'})
								

div#footer
script(src='/javascripts/jquery-1.7.2.min.js') 
script(src="/socket.io/socket.io.js")
script(src="/javascripts/game.js")