div#header
div#main
	div.seat.north
		div.trumps
			span.card.joker.big= 'Joker'
			span.card.joker.small= 'Joker'
			span.card.heart= 2
			span.card.club= 2
			span.card.heart= 3
			span.card.heart= 4
			span.card.heart= 4
			span.card.heart= 5
			span.card.heart= 9
			span.card.heart= 10
			span.card.heart= 'J'
		div.suits
			span.card.club= 'A'
			span.card.club= 'K'
			span.card.club= 'K'
			span.card.club= 'Q'
			span.card.club= 'J'
			span.card.club= 10
			span.card.club= 9
			span.card.splade= 'A'
			span.card.splade= 'K'
			span.card.splade= 'K'
			span.card.splade= 'Q'
			span.card.splade= 'J'
			span.card.splade= 10
			span.card.splade.hidden= 9
			span.card.diamond= 'A'
		div.player
			span.name= 'Jacky Li'
			span= '现在打:'
			span.level= '2'
			span.trick= 1

	div.seat.west
		div.trumps
			span.card.joker.big= 'Joker'
			span.card.joker.small= 'Joker'
			span.card.heart= 2
		div.suits
			span.card.club= 9
			span.card.splade= 'A'
			span.card.splade= 'K'
			span.card.splade.hidden= 9
			span.card.diamond= 'A'
		div.player
			span.name= 'Nana Jia'
			span= '现在打:'
			span.level= '2'
			span.trick= 1
			span.banker= '庄家'
		
	div.playarea
		div.flip
			span= '亮主:'
			span.name= 'Nana Jia'
			span.card.heart= 2
			span.card.heart= 2 	
		div.score
			span= '得分:'
			span.point= 55
		div.trick
			span= '出牌:'
			span.cards
	
	div.seat.east
		div.trumps
			span.card.joker.big= 'Joker'
			span.card.joker.small= 'Joker'
			span.card.heart= 2
		div.suits
			span.card.club= 9
			span.card.splade= 'A'
			span.card.splade= 'K'
			span.card.splade.hidden= 9
			span.card.diamond= 'A'
		div.player
			span.name= 'Lee Li'
			span= '现在打:'
			span.level= '2'
			span.trick= 1
		
	div.seat.south.cf
		div.trumps
			span.card.joker.big= 'Joker'
			span.card.joker.small= 'Joker'
			span.card.heart= 2
		div.suits
			span.card.club= 9
			span.card.splade= 'A'
			span.card.splade= 'K'
			span.card.splade.hidden= 9
			span.card.diamond= 'A'
		div.player
			span.name= 'Kerry Want'
			span= '现在打:'
			span.level= '2'
			span.trick= 1
		
		

div#footer