<% if(seat.isTaken()){%>
	<span class="name"><%= seat.playerName()%></span>
<% } else{%>	
	<span class="name hidden"></span>
<% }%>

<span class="message hidden">小庙难容大神，抱歉了！</span>
<% if(!seat.isTaken()){%>
<form class="join" action="/room/<%= roomId%>/join/<%= seat.id%>" method="POST" onclick="return false;">
	<input class='name' name='name' type="text" value='player<%= seat.get("id")%>' />
	<input type='submit' value='大驾光临'/>
</form>
<%} else{%>
	<% if(true){%>
		<a href="/room/<%= roomId%>">开战了</a>
	<% } else{%>
		<a href="/room/<%= roomId%>">观战</a>
	<% }%>
<% }%>
