<div class="player">
	<% if(seat.isTaken()){%>
		<% if(mySeat){%>
			<span class="name">我(<%= seat.playerName()%>)</span>
		<% }%>
		<% if(!mySeat){%>
			<span class="name"><%= seat.playerName()%></span>
		<% }%>
		<span><% if(seat.get('defender')){%>台上<%}else{%>台下<%}%>，现在打<span><%= seat.get('rank').name%></span></span>
	<% }else{ %>
		<span.waiting>等待其他人加入</span>
	<% }%>	

	<% if(seat.isTaken() & mySeat){%>
		<span class="flip classFlip"></span>
		<form class="flip" action="/room/<%= roomId%>/flip" method="POST" onclick="return false;">
			<input type="hidden" name="name" />
			<input type="submit" value="我要亮主"/>
		</form>
	<% }%>
</div>
<div class="cards">
	<% seat.get('cards').jokers().each(function(card){%>
		<div class="card <%= card.get('suit').get('name')%>"><%= card.get('rank').get('name')%></div>
	<% })%>
	<% seat.get('cards').spades().each(function(card){%>
		<div class="card <%= card.get('suit').get('name')%>"><%= card.get('rank').get('name')%></div>
	<% })%>
	<% seat.get('cards').diamonds().each(function(card){%>
		<div class="card <%= card.get('suit').get('name')%>"><%= card.get('rank').get('name')%></div>
	<% })%>
	<% seat.get('cards').clubs().each(function(card){%>
		<div class="card <%= card.get('suit').get('name')%>"><%= card.get('rank').get('name')%></div>
	<% })%>
	<% seat.get('cards').hearts().each(function(card){%>
		<div class="card <%= card.get('suit').get('name')%>"><%= card.get('rank').get('name')%></div>
	<% })%>

</div>